
 <div class="container-fluid">
    <form action='/registro' method = 'POST'>
        <p>Nombre <input type = "text" name = "Nombre" /></p>
        <p>Apellido <input type = "text" name = "Apellido" /></p>
        <p>User_name <input type = "text" name = "User_name" /></p>
        <p>Password <input type = "text" name = "Password" /></p>
        <p>Email <input type = "text" name = "Email" /></p>
        <p><input type = "submit" value = "Submit" /></p>
      </form>
</div>


<div class="container-fluid">
        <form action='/registro_cuenta' method = 'POST'>
            <p>Id_Estado <input type = "text" name = "Id_Estado" /></p>
            <p>Balance <input type = "number" name = "Balance" /></p>
            <p>Email <input type = "text" name = "Email" /></p>
            <p><input type = "submit" value = "Submit" /></p>
          </form>
</div>



<div class="container-fluid">
    <form action='/registro_trade' method = 'POST'>
        <p>Ticker           <input type = "text" name                           = "Ticker"         required/></p>
        <p>Fecha_Entrada           <input type = "text" name                    = "Fecha_Entrada"         required/></p>
        <p>Fecha_Salida           <input type = "text" name                     = "Fecha_Salida"         required/></p>
        <p>Precio_Entrada           <input type = "text" name                   = "Precio_Entrada"         required/></p>
        <p>Precio_Salida           <input type = "text" name                    = "Precio_Salida"         required/></p>
        <p>Direccion           <input type = "number" name                      = "Direccion"         required/></p>
        <p>Comision           <input type = "number" name                       = "Comision"         required/></p>
        <p>Id_Notas           <input type = "number" name                       = "Id_Notas"         required/></p>
        <p>Id_Cuenta           <input type = "number" name                      = "Id_Cuenta"         required/></p>
        <p>Balance           <input type = "number" name                        = "Balance"         required/></p>
        <p>Estado           <input type = "number" name                         = "Estado"         required/></p>
        <p>Email           <input type = "text" name                            = "Email"         required/></p>
        <p>          <input type = "submit" value                               = "Submit"         required/></p>
      </form>
</div>
     

